# general ignores
*.DS_Store
__pycache__

# src ignores
**/batches/*
**/data/*
**/document_embeddings/*
**/processed_pdfs/*
**/question_embeddings/*

# eval ignores
**/batches_out/*
**/human_labels/*
**/outputs/*
**/viz/*

# but keep .gitkeep files
!.gitkeep