OPENAI_API_KEY=[YOUR OPENAI API KEY GOES HERE]
GROQ_API_KEY=[YOUR GROQ API KEY GOES HERE]
HF_TOKEN=[]
CHROMA_DIR='./chroma/'
DATA_DIR='./data/'
OUT_DIR='./data_out/'
QUESTION_EMBEDDING_DIR='./question_embeddings/'
CHUNK_SIZE='500'
#CHUNK_SIZE='1000'
CHUNK_OVERLAP='100'
#CHUNK_OVERLAP='200'
RELEVANT_CHUNKS='3'
#RELEVANT_CHUNKS='5'
EXP_ID='0'
#EXP_ID='1'
#EXP_ID='2'
NUM_PAPERS='38'
#NUM_PAPERS='1'
EMBEDDING_MODEL='text-embedding-3-large'
#EMBEDDING_MODEL='text-embedding-ada-002'
GENERATION_MODEL='meta-llama/Llama-3.3-70B-Instruct'
#GENERATION_MODEL='gpt-3.5-turbo'
#GENERATION_MODEL='gpt-4o-mini'
#GENERATION_MODEL='gpt-4o'
#GENERATION_MODEL='gemma2-9b-it'
#PROMPT_ID='0'
#PROMPT_ID='1'
#PROMPT_ID='2'
#PROMPT_ID='3'
#PROMPT_ID='4'
PROMPT_ID='5'