OPENAI_API_KEY=[YOUR OPENAI API KEY GOES HERE]
GROQ_API_KEY=[YOUR GROQ API KEY GOES HERE]
HF_TOKEN=[]
DATA_DIR='./data/'
OUT_DIR='./data_out/'
EXP_ID='0'
#EXP_ID='1'
#EXP_ID='2'
NUM_PAPERS='38'
#NUM_PAPERS='1'
BATCH_SIZE=8
CACHE_DIR='/projects/2/managed_datasets/hf_cache_dir'
GENERATION_MODEL='meta-llama/Llama-3.3-70B-Instruct'
#GENERATION_MODEL='gpt-3.5-turbo'
#GENERATION_MODEL='gpt-4o-mini'
#GENERATION_MODEL='gpt-4o'
#GENERATION_MODEL='gemma2-9b-it'
#PROMPT_ID='0'
#PROMPT_ID='1'
#PROMPT_ID='2'
#PROMPT_ID='3'
#PROMPT_ID='4'
PROMPT_ID='5'